/* ---------------------------------------
--------------- RESPONSIVE ---------------
------------------------------------------ */

    /* Desktop view */
@media only screen and (max-width: 1400px) {
    

}

@media only screen and (max-width: 1200px) {
    

}

@media only screen and (max-width: 1024px) {
    

}

    /* Tablet view */

@media only screen and (max-width: 960px) {
    .gap2 {
        gap: 6px;
    }

    .item_wrapped {
        width: 22%;
        padding: 4px 2px;
    }
    
    .item_wrapped__actions-wrap {
        flex-wrap: wrap;
    }

    .btn_base {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 800px) {
    

    .item_wrapped {
        width: 30%;
    }
    
    .btn_base {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 600px) {
    .gap2 {
        gap: 12px;
    }
    
    .item_wrapped {
        width: 45%;
        padding: 4px 8px;
    }
}

@media only screen and (max-width: 480px) {
    .gap2 {
        gap: 6px;
    }
    
    .item_wrapped {
        
    }
}

    /* Mobile view */

@media only screen and (max-width: 340px) {
    .gap2 {
        gap: 8px;
    }

    .products-list {
        justify-content: center;
    }
    
    .item_wrapped {
        width: 80%;
    }

    .btn_base {
        font-size: 1.4rem;
    }

    .item_wrapped {
        
    }
}